.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line img {
  width: 100px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}
.menus button:hover {
  background-color: grey;
  color: white;
  transition-delay: 0.7s;
  border-radius: 5px;
}
.news-img-size {
  max-width: 100%; /*부모의 넓이*/
  max-height: 250px;
}
.news{
  border-bottom: 2px solid black;
}