* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
    font-size: 52px;
    text-align: center;
}

.clicked {
    color: tomato;

}
.font {
    font-family: 'Water Brush', cursive;
}